body {
    background-image: url("nths.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5vw;
    color: white;
    user-select: none; 
    margin: 0;
    text-shadow: 2px 2px 8px #000000;
}

button {
    border-radius: 24px;
    background-color: rgb(51, 94, 187);
    padding: 15px 32px;
    color: white;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.paddedButton {
    margin: 25px;
}

.startPage {
    width: 70vw;
	height: 20vh;	

	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	
	margin: auto;
}
